<app-header></app-header>
    <body>
       
        
        <div class="container d-flex">
            <div class="col-6 d-flex flex-column descripcion" >
                <br><br><br><br><br><h1 class="text-danger">Bienvenido</h1><br>
                <h2>Gestor de proyectos</h2><br>
                <h4>Gestor de proyectos GDP te permite crear y revisar el avance de los proyectos de tus alumnos</h4>
                <br><br>
                <div class="row">
                    <div class="col-6 ">
                        <a class="btn btn-danger" href="registro">Registrame</a>
                    </div>
                    <div class="col-6 d-flex align-items-left ">
                        <a class="btn btn-danger" href="login">Iniciar Sesion</a>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center mt-4">
                <img id="imgIni" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/05/escritorio-mesa-limpio-cables-pantalla-portatil-2350953.jpg" alt="">
            </div>
        </div>
    
    </body>
<div id="foot">
<app-footer></app-footer></div>